html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='main.css')
    script(src='htmx.js')
  body(class=orientation)
    .container
        .row
          .top-logo
            img(src='images/backpack-logo.webp')
        .row
            .categories.col-12(
                hx-get='/categories',
                hx-trigger='load',
                hx-swap='innerHTML'
            )
    .bottom-art
