body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none;
}

.light-grey {
    color: #bbbbbb;
}

.menu-title {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: lighter;
}

.top-logo {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
